@import "tailwindcss";

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #0f0e1a; 
}
::-webkit-scrollbar-thumb {
  background: #3f3e4a; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6d28d9; 
}

/* Helper for sidebar specific scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

/* Hover Zoom Effect */
.game-card:hover .play-icon {
  opacity: 1;
  transform: scale(1);
}